// Tags
html {
  overflow: hidden;
  box-sizing: border-box;
  &.fixed {
    overflow-y: hidden;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: $font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  background: $bg;
}

a {
  color: $blue;
  transition: 0.2s;
  &:hover {
    text-decoration: underline;
  }
}

.fa-regular {
  color: $blue;
  transition: 0.2s;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}

// ScrollBar
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: $blue;
}

::-webkit-scrollbar-track {
  background-color: $white;
}

// Selection
::selection {
  background: rgba($blue, 0.2);
}

.disabled {
  pointer-events: none;
}

// ---- Buttons ----
.btn {
  user-select: none;
  background-color: $yellow;
  padding: 14px 30px;
  border-radius: 2px;
  transition: 0.3s;
  font-size: 16px !important;
  line-height: 24px !important;
  &:hover {
    background-color: darken($yellow, 15%);
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  &:focus {
    background-color: darken($yellow, 15%);
  }
}

a.btn {
  color: $black;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
}

.btn2 {
  color: $blue !important;
  background-color: $blue2;
  &:hover {
    background-color: rgba($blue, 0.25);
  }
}

.btn-inline {
  color: $blue;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

// ---- Forms ----
.form {
  width: 960px;
  .title {
    margin-bottom: 24px;
  }
  .text {
    margin-bottom: 24px;
  }
  .select {
    margin-bottom: 24px;
  }
  .content {
    background-color: $white;
    padding: 40px 32px;
    border-radius: 2px;
    margin-bottom: 24px;
  }
  .small {
    color: $gray;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 24px;
    a {
      color: $gray;
      text-decoration: underline;
    }
  }
}

.form-auth {
  width: 325px;
  h1 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
  }
  p {
    margin-bottom: 36px;
  }
  .btn {
    width: 100%;
    margin-bottom: 24px;
  }
  small {
    font-size: 12px;
    line-height: 16px;
    a {
      text-decoration: underline;
    }
  }
  .errors {
    margin-top: -20px;
    margin-bottom: 35px;
    span {
      display: block;
      color: $red;
      font-size: 13px;
    }
  }
}

.title {
  font-size: 24px;
  line-height: 32px;
}

.popup {
  user-select: none;
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  font-size: 14px;
  line-height: 18px;
  padding: 12px 0px;
  position: absolute;
  transition: 0.25s;
  width: 200px;
  z-index: 100;
  top: 0;
  right: 0;
  li {
    display: flex;
    align-items: center;
    transition: 0.2s;
    padding: 10px 15px;
    cursor: pointer;
    a {
      display: flex;
      align-items: center;
      &:hover {
        text-decoration: none;
      }
    }
    i {
      margin-right: 15px;
      width: 15px;
      height: 18px;
    }
    &:hover {
      background-color: $blue3;
      svg {
        fill: $blue;
      }
      p {
        color: $blue;
      }
    }
  }
}

// ---- Tables ----
.table-wrapper {
  position: relative;
  overflow-x: auto;
}

.table {
  display: table;
  overflow-x: auto;
  white-space: nowrap;
  min-width: 100%;
  td,
  th {
    text-align: left;
    border-bottom: 1px solid rgba($blue3, 0.1);
    padding: 20px 16px;
  }
  thead {
    color: $blue;
    border-bottom: 1px solid $blue;
    td,
    th {
      padding: 12px 16px;
    }
  }
  tbody {
    td,
    th {
    }
  }
}

.warning-m {
  margin: -50px -50px 50px !important;
}

// Flags
.flags {
  user-select: none;
  display: flex;
  align-items: center;
  margin-left: 15px;
  .flag {
    &:not(:last-child) {
      margin-right: 5px;
    }
    background-color: rgba($blue, 0.15);
    color: $black;
    font-size: 12px;
    line-height: 10px;
    padding: 5px 5px !important;
    border-radius: 2px;
  }
}

// Preloader
.loading {
  background: #e5e5e5;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    background: #c6c6c6;
    width: 100%;
    height: 100%;
    animation: skeleton 3s ease-in-out infinite;
  }
}

@keyframes skeleton {
  0% {
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0.3;
  }
  20% {
    transform: scaleX(1);
    transform-origin: left;
    opacity: 1;
  }
  28% {
    transform: scaleX(1);
    transform-origin: right;
  }
  51% {
    transform: scaleX(0);
    transform-origin: right;
  }
  58% {
    transform: scaleX(0);
    transform-origin: right;
  }
  82% {
    transform: scaleX(1);
    transform-origin: right;
  }
  83% {
    transform: scaleX(1);
    transform-origin: left;
  }
  96% {
    transform: scaleX(0);
    transform-origin: left;
  }
  to {
    transform: scaleX(0);
    transform-origin: left;
    opacity: 0.3;
  }
}

.item-loading {
  width: 100%;
  height: 48px;
  border-radius: 3px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

// list items
.items_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -24px -48px;
  .item {
    margin: 0 24px 48px;
    width: 405px;
    height: 220px;
    position: relative;
    padding: 32px;
    background-color: $white;
    box-shadow: 0 0 5px rgba($blue, 0.2);
    border-radius: 5px;
    .title {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 16px;
      color: $blue;
    }
    .info {
      li {
        span {
          color: $gray;
        }
      }
    }
    .notices {
      position: absolute;
      top: -10px;
      right: -10px;
      border-radius: 50%;
      background-color: $blue;
      color: $white;
      font-size: 13px;
      width: 35px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &.index {
      p {
        margin-bottom: 25px;
      }
      .btn {
        width: 100%;
      }
    }
  }
}