// ---- Fonts ----
$font: 'Circe', sans-serif;

// ---- Colors ----
$blue: #0e65dd;
$blue2: rgba($blue, 0.2);
$blue3: rgba($blue, 0.1);

$white: #ffffff;
$black: #383838;
$yellow: #ffd740;
$bg: #f1f6fd;
$red: #bd081c;
$red2: rgba($red, 0.5);
$gray: #77889c;
