// ---- Fonts ----
$font: Roboto;

// ---- Colors ----
$blue: #0E65DD;
$blue2: #0B55BB;
$blue3: #F1F6FD;
$blue4: #E1ECFC;
$blue5: rgba($blue, 0.04);
$blue6: rgba($blue, 0.35);

$white: #FFFFFF;
$black: #383838;
$gray: #999999;
$gray2: #D8D8D8;
$bg: #F1F6FD;
$red: #BD081C;
$red2: rgba($red, 0.1);
$yellow: #FFD740;
